.loginProviderButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  border: 2px solid grey;
  padding: 8px;
  border-radius: 4px;
}

.loginProviderButton:not(:first-child) {
  margin-top: 8px;
}

.loginProviderButton img {
  max-width: 1.5em;
  max-height: 1.5em;
}

.loginProviderButton span {
  font-weight: bold;
  width: 100%;
}

